# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# Virtual Environment
.venv/
venv/
ENV/

# Database
*.db
*.sqlite3

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/

# Django
*.log
local_settings.py

# Tests
.coverage
.pytest_cache/
htmlcov/

# Project specific
staticfiles/
media/